@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInBorder {
  from {
    width: 0;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #3b82f6;
  animation: slideInBorder 0.4s ease forwards;
}

.bg-pattern-white {
  background-image: url('/images/pattern-white.svg');
  background-position: center;
}

.bg-pattern-light {
  background-image: url('/images/pattern-light-big.svg');
  background-position: center;
}

.bg-pattern-dark {
  background-image: url('/images/pattern-dark.svg');
  background-position: center;
}

/* Glow effect for the iframe */
.glowEffect {
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.glowEffect:hover {
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.6); /* soft blue glow on hover */
  border-color: #3b82f6; /* blue-500 border color */
}

.responsive-iframe {
  border: 0;
  border-radius: 8px;
  margin: 0 auto;
  display: block; /* Center the iframe */

  /* Default (desktop) */
  width: 528px;
  height: 824px;

  /* Tablet */
  @media (max-width: 1024px) {
    width: 400px;
    height: 624px;
  }

  /* Mobile */
  @media (max-width: 768px) {
    width: 320px;
    height: 512px;
  }
}
